#header{
    height:150px;
    width: 100%;
    background-color:rgb(1, 20, 37);
}
#header img{
    height:130px;
    width: 380px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
#header h1{
    padding-top: 20px;
    padding-left: 450px;
    color: white;
    font-size: 80px;
    font-family:fantasy;
}
#navbar{
    height: 70px;
    width: 100%;
    background-color:silver;
}
#navbar ul{
    list-style-type:none;
    float:left;
    
} 
#navbar ul li{
    display:inline-block;
}
#navbar ul li a{
    text-decoration:none;
    font-size: 20px;
    color:black;
    padding-right:30px;
    padding-left:30px;
    padding-top :3px;
    padding-bottom:10px;
    margin-top:20px;
    margin-left: 20px;
    display:block;
}
#navbar ul li a:hover{
    background-color:royalblue;
    color:white;
    border-radius:10px;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
}
#container{
    height: 700px;
    width: 100%;
}
#con{
    height:400px;
    width: 400%;    
    background: transparent;
}
#con h1{
    font-size: 50px;
    padding-left: 290px;
    padding-top: 30px;
    color: white;
}
#con form{
    height: 400px;
    width: 600px;
    background-color: blanchedalmond;
    padding-top: 100px;
    padding-left: 100px;
    margin-left: 330px;
    margin-top: 40px;
    border-radius: 20px;
}
#con input[type="email"]{
    height:50px;
    width: 500px; 
    border-radius: 10px;
    margin-bottom: 55px;
}
#con input[type="password"]{
    height:50px;
    width: 500px; 
    border-radius: 10px;
    margin-bottom: 55px;
}
#con input[type="submit"]{
    height: 60px;
    width: 200px;
    border-radius: 10px;
    margin-left: 150px;
    background-color:palevioletred;
    color: cyan;
    font-size: 20px;
}
#footer{
    height: 100px;
    width: 100%;
    background-color: black;
}       
#footer h1{
    font-size: 30px;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
}
#footer ul{
    float: right;
    color:white;
}
#footer ul li{
    color:white;
    display: inline-block;
}
#footer u li a{
    color: white;
    padding:10px;
    font-size: 20px;
    -moz-transition: 1s;
    -webkit-transition: 1s;
}
.fa-whatsapp:hover{
    color:rgb(90, 224, 63);
}
.fa-envelope:hover{
    color:red;
}
.fa-facebook:hover{
    color:blue;
}
*{
    margin: 0px;
    padding: 0px;
}